



  <!-- first -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container-fluid">
        <div class="icon" >
        <h1 style="margin-left: 490px; margin-top: 45px;">
            <a class="navbar-brand text-light" href="#"><h1 class="fs-2" style="margin-right: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><B>RUGGED</B> </h1></a>
        </h1>
            <img src="https://www.kindpng.com/picc/m/43-436246_beard-logo-hd-png-download.png"
            style="height: 120px; width: 90px; border-radius: 50%;" alt="">
        <h1 style="margin-top: 45px;margin-left: 15px;">
            <a class="navbar-brand text-light" href="#"><H1 class="fs-2 " style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><B>WALLET</B></H1></a>
        </h1>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>




  <!-- second -->

  <p class="mt-1 mb-0">
    <mat-toolbar>
     <button (click)="menuClick()" mat-icon-button class="example-icon mt-2" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button style="margin-left: 6px;" mat-icon-button class="example-icon mt-2" aria-label="Example icon-button with menu icon">
      <span class="material-icons">shopping_cart</span>
    </button>


    <!-- <span>My App</span> -->
    <span class="example-spacer"></span>

   <form class="d-flex search" style="margin-left: 770px;">
    <input class="form-control me-2" style="width: 350px;" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-light" style="width: 60px;" ><i class="fa-sharp fa-solid fa-magnifying-glass"></i> </button>
  </form>

  <!-- logout  -->
  <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 15px;"><i class="fa-sharp fa-solid fa-key"></i>  Logout  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Logout <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></button>
</mat-menu>
  </mat-toolbar>
  </p>