<!-- Header -->
<header>
    <app-navbar (toggle)="sidebartoggle()"></app-navbar>
</header>

<mat-drawer-container class="example-container">
    <!-- Sidenav -->
    <mat-drawer mode="side" [opened]="sidebar">  
          <app-sidenav></app-sidenav>
    </mat-drawer>

    <!-- main content -->
    <mat-drawer-content>
      <router-outlet></router-outlet>
        <app-dashboard></app-dashboard>
    </mat-drawer-content>

  </mat-drawer-container>
<mat-divider></mat-divider>
<!-- Footer -->
  <footer>
    <app-footer></app-footer>
  </footer>
  
