
<div class="container">
  <div class="hdng">
    <h1 class="text-center fs-2 mt-5">Account Info</h1>
  </div>

  <div class="row">

    <div class="col-4">
      <img src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png" style="margin-left: 65px; height: 200px;width: 200px;" alt="">
    </div>
    <div class="col-8">
      <form>
        <ul class="list-group " style="font-weight: bolder;">
          <li class="list-group-item">Name: SIVAPRASAD S</li>
          <li class="list-group-item">Phone: 9876543210</li>
          <li class="list-group-item">Email: shiva@gmail.com</li>
          <li class="list-group-item">Address: Palakkad, Kerala</li>
          <li class="list-group-item">Membership: Premium</li>
        </ul>
      </form>
    </div>
  </div>
</div>









