
<!-- pages  -->
  <div class="pages">
    <h2>Pages</h2>
<!-- Home  -->
<a routerLink="dashboard" class="xpand1 "> Home</a>

<!-- profile  -->
  <a routerLink="profile" class="xpand1 "> Profile</a>

</div>

<!-- utilities  -->
<div class="pages">
    <h2>Utilities</h2>

    <!-- Brand -->
  <mat-expansion-panel hideToggle class="xpand">
    <mat-expansion-panel-header >
      <mat-panel-title >
        <h3 class="mt-3 ms-2" style="font-size: 15px;">Brand</h3>
      </mat-panel-title>        
    </mat-expansion-panel-header>
   <p>Alexander McQueen</p>
   <p>Balmain</p>
   <p>Karl Lagerfeld</p>
   <p>Fred Perry</p>
  </mat-expansion-panel>


  <!-- Categories -->
  <mat-expansion-panel hideToggle class="xpand">
    <mat-expansion-panel-header >
      <mat-panel-title >
        <h3 class="mt-3 ms-2" style="font-size: 15px;">Categories</h3>
      </mat-panel-title>        
    </mat-expansion-panel-header>
   <p>Hoodies</p>
   <p>Tees</p>
   <p>Shirts</p>
   <p>Jeans</p>
   <p>Shoes</p>
   <p>Sneakers</p>
  </mat-expansion-panel>


  <!-- Discount -->
  <mat-expansion-panel hideToggle class="xpand">
    <mat-expansion-panel-header >
      <mat-panel-title >
        <h3 class="mt-3 ms-2" style="font-size: 15px;">Discount</h3>
      </mat-panel-title>        
    </mat-expansion-panel-header>
   <p>70-80%</p>
   <p>60-70%</p>
   <p>50-60%</p>
   <p>40-50%</p>
   <p>30-40%</p>
   <p>10-30%</p>
  </mat-expansion-panel>

<!-- orders  -->
<mat-expansion-panel hideToggle class="xpand">
    <mat-expansion-panel-header >
      <mat-panel-title >
        <h3 class="mt-3 ms-2" style="font-size: 15px;">Orders</h3>
      </mat-panel-title>        
    </mat-expansion-panel-header>
   <p style="color: red;">No orders placed yet</p>

  </mat-expansion-panel>

</div>

